* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: white;
    padding-top: 16px;
    color: black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

#carousel-imgs img {
    height: 400px;
    width: 500px;
    padding: 15px;
    border-radius: 10%;
}

nav {
    background-color: whitesmoke;
    color: black;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: black;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer div {
    height: 2px;
    width: 100%;
    background-color: black;
    display: block;
    margin-bottom: 4px;
}

.container-flex { 
    display: flex;

}

.container-block {
    display: block;
}

#sobre-loja img {
    max-width: 500px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista-promocoes li {
    list-style: none;
    margin-bottom: 24px;
}

.lista-promocoes li img {
    justify-content: space-between;
    width: 250px;
}

.lista-promocoes h3 {
    margin: 16px 0;

}

.item-central {
    margin: 0 5%;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: bisque;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
}

.price del {
    color: #ccc;
    font-size: 14px;
    margin: 10px 0 ;
    display: block;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}

form {
    max-width: 360px;
    font-size: 14px;
}

footer {
    background-color: whitesmoke;
    font-size: 12px;
    font-weight: bold;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 48px;
    justify-content: space-between;
}

footer .container {
    align-items:center;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
        margin-left: 25px;
    }

    .container-flex { 
        display: block;
    }

    .menu-hamburguer{
        position: absolute;
        display: block;
        right: 30px;
        top: 30px;

        
    }

    nav li {
        display: block;
        padding: 3px;
    }

    #carousel-imgs img {
        height: 260px;
        width: 365px;
        padding: 15px;
        border-radius: 20%;
        margin-left: 110px;
    }

    #sobre-loja img {
        justify-content: center;
        max-width: 300px;
        max-height: 300px;
        margin-right: 50px;
    }

    footer > .container-flex {
        background-color: whitesmoke;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        padding: 20px;
    }
    
    footer li img {
        height: 32px;
        align-items: center;
        justify-content: space-between;
    }
    
}